html {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  background-color: darkseagreen;
}

button {
  outline: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

.link-btn {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  background-color: purple;
  border: 1px solid purple;
  outline: none;
  text-align: center;
  padding: 0 16px;
  border-radius: 1000px;
  line-height: 50px;
  height: 50px;
  width: 120px;
}

.btn-circle {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  background-color: purple;
  border: 1px solid purple;
  outline: none;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  line-height: 50px;
  height: 50px;
  width: 50px;
  min-width: 50px;
}

.logo {
  font-family: 'Pacifico', cursive;
  /* font-family: 'Londrina Solid', cursive; */
  font-size: 56px;
  margin-bottom: 60px;
  user-select: none;
}


.divider {
  margin: 1.5em auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.divider:before {
  left: 20%;
  width: 23%;
  border-top: 1px solid #000;
  content: " ";
  position: absolute;
  top: .5em;
}  

.divider:after {
  right: 20%;
  width: 23%;
  border-top: 1px solid #000;
  content: " ";
  position: absolute;
  top: .5em;
}
