* {
  font-family: inherit;
  text-decoration: none;
  outline: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  font-size: 18px;
  background-color: #264653;
  height: 100vh;
  width: 100vw;
}

::selection {
  background: #2a9d8f;
}

input {
  color: #333;
  box-sizing: border-box;
  border-radius: 1000px;
  transition: border .25s;
  border: 3px solid #2a9d8f;
}

input:focus {
  border: 3px solid #e9c46a;
}

a {
  color: #2a9d8f;
  transition: color .25s;
}

a:hover {
  color: #207268;
}

.content {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 740px;
  margin: 0 auto;
  min-height: 700px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}

.link-btn {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f4a261;
  border: 1px solid #f4a261;
  transition: background-color .25s, border .25s;
  text-align: center;
  user-select: none;
  padding: 0 16px;
  border-radius: 1000px;
  line-height: 50px;
  height: 50px;
  width: 180px;
}

.link-btn:hover {
  background-color: #e76f51;
  border: 1px solid #e76f51;
  color: white;
}

.btn-circle {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f4a261;
  border: 1px solid #f4a261;
  transition: background-color .25s, border .25s;
  text-align: center;
  user-select: none;
  padding: 0;
  border-radius: 50%;
  line-height: 50px;
  height: 50px;
  width: 50px;
  min-width: 50px;
}

.btn-circle:hover{
  background-color: #e76f51;
  border: 1px solid #e76f51;
  color: white;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 56px;
  margin-bottom: 60px;
  user-select: none;
}

.title {
  font-family: 'Londrina Solid', cursive;
  font-size: 72px;
  user-select: none;
  text-align: center;
}

.divider {
  margin: 1.5em auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.divider:before {
  left: 20%;
  width: 23%;
  border-top: 1px solid white;
  content: " ";
  position: absolute;
  top: .5em;
}  

.divider:after {
  right: 20%;
  width: 23%;
  border-top: 1px solid white;
  content: " ";
  position: absolute;
  top: .5em;
}

@media only screen and (max-width: 750px) {
  .content {
    width: 100%
  }

  .link-btn:first-child {
    margin-bottom: 20px;
  }
}
