.about-p{
  margin: 15px;
}

.about-team {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 15px;
}

.about-member {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #2a9d8f;
  border-radius: 15px;
  padding: 7px;
  transition: border .25s, background-color .25s;
  margin: 5px;
}

.about-member:hover {
  border: 3px solid #207268;
  background-color: rgba(174, 174, 174, 0.95);
}

.about-member span {
  font-size: 17px;
  height: 20px;
  line-height: 20px;
}

.about-member-pic {
  height: 100%;
  width: 100%;
  min-width: 50px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.about-member-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .about-member-links {
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 65px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .about-team {
    flex-flow: wrap;
    justify-content: space-around;
  }

  .about-member-links {
    margin-top: 0;
  }

  .about-member-links a {
    margin-top: 10px;
  }
}
