.about-p{
  margin: 15px;
}

.about-team {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 15px;
}

.about-member {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 3px solid #2a9d8f;
  border-radius: 15px;
  padding: 7px;
  transition: border .25s;
}

.about-member:hover {
  border: 3px solid #207268;
}

.about-member span {
  font-size: 17px;
  height: 20px;
  line-height: 20px;
}

.about-member-pic {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.about-member-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
