.voting-results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.voting-results-list {
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: auto;
  width: 400px;
  max-height: 60vh;
  margin-top: 10px;
}

.voting-results-item {
  display: flex;
  margin-bottom: 15px;
  height: 50px;
  line-height: 50px;
}

.voting-results-votes {
  width: 50px;
  min-width: 50px;
  background-color: #f4a261;
  border-radius: 15px 0 0 15px;
  text-align: center;
}

.voting-results-idea {
  align-items: center;
  background-color: #e9c46a;
  color: #333;
  border-radius: 0 15px 15px 0;
  min-width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

.voting-no-ideas {
  width: 90%;
  margin-top: 60px;
  font-size: 30px;
  text-align: center;
}
