.idea-submission-timer {
  user-select: none;
  font-size: 72px;
  margin-bottom: 30px;
}

.idea-submission-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.idea-submission-input {
  padding: 15px;
  font-size: 20px;
  width: 400px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  border-right: none;
}

.idea-submission-input:focus {
  border-right: none;
}

.idea-submit-btn {
  border-radius: 0 15px 15px 0;
}

.ideas-list {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  max-width: 400px;
  max-height: 65vh;
}

.idea-item {
  display: flex;
  align-items: center;
  background-color: #e9c46a;
  color: #333;
  border-radius: 15px;
  min-width: 300px;
  margin: 10px;
  padding-right: 15px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.idea-btn {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 15px 0 0 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 750px) {
  .idea-submission-input {
    width: 230px;
    font-size: 16px;
  }

  .idea-submit-btn {
    width: 100px;
  }

  .idea-btn {
    margin-top: 19px;
  }

  .idea-item {
    min-width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .idea-submission-input {
    width: 200px;
    font-size: 14px;
  }

  .idea-submit-btn {
    width: 80px;
    font-size: 14px;
  }

  .idea-item {
    max-width: 250px;
  }
}
