.voting-timer {
  user-select: none;
  font-size: 72px;
  margin-bottom: 30px;
}

.voting-idea-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 95%;
  padding: 25px;
}

.voting-idea {
  margin: auto;
  font-size: 56px;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25em;
}

.voting-btn {
  height: 200px;
  width: 200px;
  font-size: 100px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}

.voting-vote-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.voting-voted {
  line-height: 200px;
  height: 200px;
  width: 200px;
  font-size: 100px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  background-color: #e76f51;
  border: 1px solid #e76f51;
}

@media only screen and (max-width: 750px) {
  .voting-idea {
    font-size: 40px;
  }

  .voting-vote-container{
    height: 150px;
  }

  .voting-btn {
    height: 150px;
    width: 150px;
    font-size: 80px;
  }

  .voting-voted {
    line-height: 150px;
    height: 150px;
    width: 150px;
    font-size: 80px;
  }
}


@media only screen and (max-width: 400px) {
  .voting-idea {
    font-size: 32px;
  }

  .voting-vote-container{
    height: 120px;
  }

  .voting-btn {
    height: 120px;
    width: 120px;
    font-size: 60px;
  }

  .voting-voted {
    line-height: 120px;
    height: 120px;
    width: 120px;
    font-size: 60px;
  }
}
