.modal-background {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.modal-close {
  margin: 14px 20px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.modal-about {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 50px;
  overflow-y: scroll;
  background-color: rgba(230,230,230,0.95);
  border-radius: 3px;
  width: 550px;
  height: 650px;
}

.modal-join {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  margin-top: 110px;
  width: 450px;
  height: 350px;
}
