.modal-background {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.modal-about {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(204,204,204,0.95);
  border-radius: 15px;
  margin-top: 50px;
  max-width: 550px;
  width: 100%;
  height: 550px;
}

.modal-error {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: rgba(204,204,204,0.95);
  border-radius: 15px;
  margin-top: 110px;
  max-width: 450px;
  width: 100%;
  height: 250px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

.modal-icon {
  margin: 14px 20px;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
  color: #2a9d8f;
  transition: color .25s;
}

.modal-icon:hover {
  color: #207268;
}

.modal-content {
  color: #333;
  margin-top: 15px;
}

@media only screen and (max-width: 550px) {
  .modal-about {
    max-height: 600px;
    height: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .modal-about {
    margin-top: 0;
    border-radius: 0;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }
}
