.voting-winner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
.voting-winner-title {
  margin-bottom: 60px;
}

.voting-winner-item {
  font-size: 60px;
  margin-bottom: 120px;
}

.voting-winner-blurb {
  font-size: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 750px) {
  .voting-winner-item {
    font-size: 40px;
    margin-bottom: 120px;
  }
}
